{% extends 'layout.html.twig' %}

{% block title %}Page du formulaire d'inscription du Club de Shorinji Kempo de Gennevilliers{% endblock %}

{% block content %}
        <div class="cont">
        <img src={{asset('photos/autre/logo_rouge-gris-noir_fond-clair.png')}} width = "20%">
        </div>
        <hr>
        <h5><i>Section réservée à l'administration du site</i></h5>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.dateDeNaissance) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>


                        







{% endblock %}
