{% extends 'layout.html.twig' %}

{% block title %}Historique du club de Shorinji Kempo de Gennevilliers{% endblock %}

{% block content %}
<div class="example-wrapper">
    <div class="cont">
        <img src={{asset('photos/autre/logo_rouge-gris-noir_fond-clair.png')}} width = "20%">
    </div>
    <br>
        <hr>
    <h1 class="title"> Historique du Club de Shorinji Kempo de Gennevilliers{{ controller_name }}</h1>

            <br>
            

        
    


                    <div class="container"> 

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="section-header text-center">
                                            <div class="section-separator border-center">
                                            {# ::before
                                            ::after     #}
                                        </div>
                                        <hr>
                                    <h5 class="section-subtitle"> Rejoignez-nous </h5>
                                        <h4 class="section-title"> Gennevilliers Shorinji Kempo </h4>
                                        </div>
                                    </div> 
                                </div> 

                        <div class="row" id="service_content_section">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="post text-center wow flipInx animated" data-wow-delay=".5s">
                                    <figure class="post-thumbnail">
                                        <a href="{{ path('app_informations') }}">
                                            <i class="fa fa-clock txt-pink"></i>
                                            {# ::before #}
                                            </i>
                                        </a>  
                                    </figure>
                                <div class="entry-header">
                                    <h4 class="entry-title">
                                        <a href="{{ path('app_informations') }}">Horaires</a> 
                                    </h4> 
                                </div>
                                    <div class="entry-content">
                                        <p>Entrainements de 20h00 à 22h00 les lundis et mercredis</p>
                                    </div>     
                                </div> 
                            </div> 
                            
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="post text-center wow flipInx animated" data-wow-delay=".5s">
                                    <figure class="post-thumbnail">
                                        <a href="https://goo.gl/maps/dMFQGnb9dSDSXSt77" target="_blank">
                                            <i class="fa fa-location-arrow txt-pink">
                                        
                                            </i>
                                        </a>
                                    </figure>  
                                <div class="entry-header">
                                    <h4 class="entry-title">
                                        <a href="https://goo.gl/maps/dMFQGnb9dSDSXSt77" target="_blank">Adresse</a>   
                                    </h4>  
                                </div> 
                                    <div class="entry-content">
                                        <p>Gymnase Gustave Caillebotte </br>
                                                19 rue Deslandes </br>
                                                92230 Gennevilliers</p> 
                                    
                                    </div> 
                                </div> 
                            </div> 

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="post text-center wow flipInx animated" data-wow-delay=".5s">
                                <figure class="post-thumbnail">
                                    <a href="{{ path('app_contact') }}">
                                        <i class="fa fa fa-phone txt-pink">
                                        {# ::before #}
                                        </i>
                                    </a>    
                                </figure>    
                            <div class="entry-header">
                                <h4 class="entry-title">
                                    <a href="{{ path('app_contact') }}">Contact</a> 
                                </h4>
                            </div>  
                        <div class="entry-content">
                            <p>shorinjikempogennevilliers@gmail.com </br>01.41.47.00.85</p>
                        </div>        
                    </div> 
                </div>  
            </div>   

</div>
{% endblock %}
