{% extends 'layout.html.twig' %}

{% block title %}Historique du club de Shorinji Kempo de Gennevilliers{% endblock %}

{% block content %}
<div class="example-wrapper">
    <div class="cont">
        <img src={{asset('photos/autre/logo_rouge-gris-noir_fond-clair.png')}} width = "20%">
    </div>
    <br>
        <hr>
    <h1 class="title"> Historique du Club de Shorinji Kempo de Gennevilliers{{ controller_name }}</h1>

            <br>
            
                <div class="justify-content-center">
                    <p>Le Shorinji Kempo est présent à Gennevilliers depuis le début des années 70 et le club fait
                        partie depuis lors, du rayonnement de cet art martial japonais dans la région nord-ouest de
                        Paris.</p>

                    <h2>Step by step</h2>

                        <p>Fondé en 1973 par Najhi Hassan, professeur 6 e dan, le club fait connaître le Shorinji Kempo –
                        récemment débarqué en France - au public de la région parisienne. En 1995 il est repris par un
                        de ses élèves, Christian Gilles, 6 e dan, qui deviendra ensuite professeur à Montpellier. C’est
                        ensuite José Jimenez, aujourd’hui 7 e dan de Shorinji Kempo, instructeur fédéral et professeur
                        au club de Clichy, qui reprend le club de Gennevilliers.
                        Elève de José Jimenez, Julien Delord, 4 e dan et ayant obtenu de bons résultats lors de
                        championnats nationaux et internationaux, est depuis 2015 le professeur du club.</p> 
                        
                    <h2>Un Club qui inspire</h2> 
                        
                        <p>Le club de Gennevilliers est à l’origine d’une véritable lignée gennevilloise. Plusieurs
                            professeurs et cadres de la fédération de renom sont issus de ce club, et plusieurs élèves, dont
                            le professeur actuel, sont multimédaillés à des championnats de France et d’Europe et ont
                            également obtenus de très bons résultats en championnats du monde.</p>

                            <br>

                        <p>Le club, situé au cœur d’une grande ville dynamique, a contribué à établir durablement le
                        Shorinji Kempo dans les Hauts de Seine. De plus, la présence de plusieurs clubs dans la régions
                        permet d’organiser des interclubs pour se retrouver et s’entraîner ensemble.</p>    
                        
                            <br>

                        <p>Depuis une dizaine d’années, le club est installé dans les locaux du gymnase Caillebotte, dans
                            une salle moderne et lumineuse équipée de miroirs. Des conditions idéales pour s’entraîner et
                            progresser, et se développer en harmonie, hommes et femmes de toutes générations.</p>        
                        
                        
                   
                </div>
        
    


                    <div class="container"> 

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="section-header text-center">
                                            <div class="section-separator border-center">
                                            {# ::before
                                            ::after     #}
                                        </div>
                                        <hr>
                                    <h5 class="section-subtitle"> Rejoignez-nous </h5>
                                        <h4 class="section-title"> Gennevilliers Shorinji Kempo </h4>
                                        </div>
                                    </div> 
                                </div> 

                        <div class="row" id="service_content_section">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="post text-center wow flipInx animated" data-wow-delay=".5s">
                                    <figure class="post-thumbnail">
                                        <a href="{{ path('app_informations') }}">
                                            <i class="fa fa-clock txt-pink"></i>
                                            {# ::before #}
                                            </i>
                                        </a>  
                                    </figure>
                                <div class="entry-header">
                                    <h4 class="entry-title">
                                        <a href="{{ path('app_informations') }}">Horaires</a> 
                                    </h4> 
                                </div>
                                    <div class="entry-content">
                                <p>lundi et mercredi </br> de 20h00 à 22h00 </p>
                                    </div>     
                                </div> 
                            </div> 
                            
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="post text-center wow flipInx animated" data-wow-delay=".5s">
                                    <figure class="post-thumbnail">
                                        <a href="https://goo.gl/maps/dMFQGnb9dSDSXSt77" target="_blank">
                                            <i class="fa fa-location-arrow txt-pink">
                                        
                                            </i>
                                        </a>
                                    </figure>  
                                <div class="entry-header">
                                    <h4 class="entry-title">
                                        <a href="https://goo.gl/maps/dMFQGnb9dSDSXSt77" target="_blank">Adresse</a>   
                                    </h4>  
                                </div> 
                                    <div class="entry-content">
                                        <p>Gymnase Gustave Caillebotte </br>
                                                19 rue Deslandes </br>
                                                92230 Gennevilliers</p> 
                                    
                                    </div> 
                                </div> 
                            </div> 

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="post text-center wow flipInx animated" data-wow-delay=".5s">
                                <figure class="post-thumbnail">
                                    <a href="{{ path('app_contact') }}">
                                        <i class="fa fa fa-phone txt-pink">
                                        {# ::before #}
                                        </i>
                                    </a>    
                                </figure>    
                            <div class="entry-header">
                                <h4 class="entry-title">
                                    <a href="{{ path('app_contact') }}">Contact</a> 
                                </h4>
                            </div>  
                        <div class="entry-content">
                            <p>shorinjikempogennevilliers@gmail.com </br>06.13.25.80.72</p>
                        </div>        
                    </div> 
                </div>  
            </div>   

</div>
{% endblock %}
