{% extends "layout.html.twig" %}

{% block title %}
    details de l'article du Club de Shorinji Kempo de Gennevilliers{{article.titre }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12">
            <h1> Detail de l'article n° {{ article.id }}</h1>
            <h5><strong>titre : </strong> {{ article.titre }}</h5> 
               
            <p><strong>description : </strong> {{ article.description }}</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <img class="img-fluid" src="{{ asset('photos/article/' ~ article.photo) }}"  alt="{{ article.titre }}">
        </div>
    </div>
{% endblock %}